@import url('https://use.typekit.net/eiq2vgd.css');

body {
	font-family: Torque;
	font-weight: bold;
	font-size: 32px;
	background: white;
	color: white;
}

@keyframes slide {
	from {
		left: 100%;
	}
	to {
		left: -100%;
	}
}
@-webkit-keyframes slide {
	from {
		left: 100%;
	}
	to {
		left: -100%;
	}
}

#casters {
	z-index: -1;
	position: absolute;
	top: 0px;
}

.counter {
	position: absolute;
	font-size: 48px;
	bottom: 20px;
	left: 270px;
	width: fit-content;
}

.matchbox {
	position: absolute;
	left: 35px;
	top: 50px;
	width: fit-content;
	height: fit-content;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upcoming_matches {
	display: flex;
	height: fit-content;
	color: white;

	padding: 5px;
	align-items: center;
}

.flavorText {
	font-size: 2.75vw;
	position: absolute;
	min-width: 1325px;
	bottom: 110px;
	left: 500px;
}

.scrolling {
	font-size: 2vw;
	position: absolute;
	bottom: 60px;
	left: 500px;
	animation-name: slide;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-name: slide;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.marquee {
	font-family: urw-din-semi-condensed, sans-serif;

	font-weight: 700;

	font-style: normal;
	height: 65px;
	top: 960px;
	position: relative;
	left: 500px;
	overflow: hidden;
	min-width: 1300px;
	max-width: 1325px;
}

.scroller {
	white-space: nowrap;
	font-size: 2vw;
	text-align: center;
	position: absolute;
	width: fit-content;
	margin: 0;
	height: 100%;
	transform: translateX(100%);
	top: 0px;
	animation: scroll-left 60s linear infinite;
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(60%);
		-webkit-transform: translateX(60%);
		transform: translateX(55%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

p {
	width: fit-content;
	margin: 0;
	height: fit-content;
	padding: 10px;
}

#text {
	margin: auto;
}

img {
	width: 125px;
	clip-path: circle(50% at 50% 50%);
}
