@import url('https://use.typekit.net/eiq2vgd.css');

@font-face {
	font-family: 'Muro';
	src: url('fonts/Muro.otf') format('opentype');
}

body {
	font-family: Torque;
	font-weight: bold;
	font-size: 32px;
	background: white;
	color: white;
	background-image: url('./images/Int_Screen.png');
}

#casters {
	z-index: -1;
	position: absolute;
	top: 0px;
}

.empty {
	position: absolute;
	font-size: 48px;
	bottom: 20px;
	left: 270px;
	width: fit-content;
}

.counter {
	position: absolute;
	top: 465px;
	left: 270px;

	font: normal normal normal 191px/229px Muro;
	letter-spacing: 7.45px;
	color: #ffffff;
	opacity: 1;
}

.box {
	position: absolute;
	left: 1012px;

	text-align: left;
	font: normal normal 900 48px/57px Lato;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

#top {
	top: 428px;
}

#mid {
	top: 551px;
}

#bot {
	top: 674px;
}

.textbox {
	position: absolute;
	left: 827px;
	width: 135px;
	height: 24px;
	text-align: left;
	font: normal normal bold 20px/24px Tahoma;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

#topText {
	top: 408px;
}
#midText {
	top: 531px;
}
#botText {
	top: 654px;
}

.timebox {
	position: absolute;
	left: 822px;
	width: 126px;
	height: 66px;
	text-align: center;
	font: normal normal bold 55px/66px Tahoma;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

#topTime {
	top: 425px;
}

#midTime {
	top: 547px;
}

#botTime {
	top: 671px;
}

.timezone {
	position: absolute;
	left: 936px;
	width: 76px;
	height: 50px;
	text-align: center;
	font: normal normal bold 21px/25px Tahoma;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

#topZone {
	top: 433px;
}

#midZone {
	top: 556px;
}

#botZone {
	top: 679px;
}
