@import url('https://use.typekit.net/eiq2vgd.css');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@font-face {
	font-family: 'MuroSlant';
	src: url('fonts/Muroslant.otf') format('opentype');
}

.caster {
	position: absolute;
	top: 247px;
	letter-spacing: 0px;

	font-family: 'MuroSlant', sans-serif;
	font-size: 56px;
	letter-spacing: 0px;
	color: #ffffff;
	text-shadow: 0px 5px 10px #00000029;
	width: 270px;
}

#scoreboard {
	background-image: url('./images/botLogos.png');
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	opacity: 1;
}

body {
	background-image: url('./images/Layout.png');
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	opacity: 1;
}

#leftCaster {
	left: 70px;
}

#rightCaster {
	left: 977px;
}
