@import url("https://use.typekit.net/eiq2vgd.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.caster {
    position: absolute;
    top: 670px;
    
    text-align: center;
    letter-spacing: 0px;
    text-shadow: 0px 3px 6px #00000029;
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 5px 10px #00000029;
    width: 810px;
}

body {
	background: black 0% 0% no-repeat padding-box;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	opacity: 1;
}

#leftCaster {
    left: 110px;
    text-align: center;
}

#rightCaster {
    right: 110px;
    text-align: center;

}

