@import url("https://use.typekit.net/eiq2vgd.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.caster {
    position: absolute;
    top: 760px;
    max-width: 720px;
    text-align: left;
    letter-spacing: 0px;
    text-shadow: 0px 3px 6px #00000029;
    font-family: Orbitron, sans-serif;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 5px 10px #00000029;
}

#casters {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
	background: black 0% 0% no-repeat padding-box;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	opacity: 1;
}

#leftCaster {
    left: 90px;
    text-align: left;
}

#rightCaster {
    right: 90px;
    text-align: right;

}

