@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

body {
    font-family: Play, sans-serif;
    font-weight: bold;
    font-size: 36px;
	background: white;
    color: white;
}


div {
    position: absolute;
    text-align: center;
}

#cam1 {
    top: 470px;
    left: 370px;
}

#cam2 {
    top: 470px;
    left: 865px;
}
#cam3 {
    top: 470px;
    left: 1360px;
}
#cam4 {
    top: 800px;
    left: 615px;
}
#cam5 {
    top: 800px;
    left: 1115px;
}
