@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@font-face {
	font-family: 'Muro';
	src: url('fonts/Muro.otf') format('opentype');
}

@font-face {
	font-family: 'MuroSlant';
	src: url('fonts/Muroslant.otf') format('opentype');
}

body {
	background-image: url('./images/botLogos.png');
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	opacity: 1;
	font-family: Tahoma, Geneva, Verdana, sans-serif, sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: white;
}

img {
	position: absolute;
	width: 250px;
	top: 50px;
	left: 50px;
}

div {
	position: absolute;
	text-align: center;
}

#cam1 {
	top: 470px;
	left: 370px;
}

#cam2 {
	top: 470px;
	left: 865px;
}
#cam3 {
	top: 470px;
	left: 1360px;
}
#cam4 {
	top: 800px;
	left: 615px;
}
#cam5 {
	top: 800px;
	left: 1115px;
}

#cam6 {
	top: 470px;
	left: 370px;
}

#cam7 {
	top: 470px;
	left: 865px;
}
#cam8 {
	top: 470px;
	left: 1360px;
}
#cam9 {
	top: 800px;
	left: 615px;
}
#cam10 {
	top: 800px;
	left: 1115px;
}
