@import url("https://use.typekit.net/eiq2vgd.css");

body {
    font-family: urw-din-condensed, sans-serif;
    font-weight: 700;
    font-size: 32px;
	background: white;
    color: white;
}

.startingIn {
    display: flex;
    width: fit-content;
    font-family: railroad-gothic-atf, sans-serif;
    font-style: normal;
    font-weight: 400;
    
    font-size: 72px;
    color: black;
    margin: auto;
    margin-top: 248px;
    text-align: center;
    letter-spacing: 5pt;
}

.counter {
    position: absolute;
    top: 200px;
    left: 480px;
    font-size: 475px;
}