@font-face {
	font-family: Proxima-Nova;
	src: url('fonts/proxima.otf') format('opentype');
}

@font-face {
	font-family: 'Muro';
	src: url('fonts/Muro.otf') format('opentype');
}

body {
	font-family: 'Muro', sans-serif;
	font-size: 28px;

	background: white;
	color: white;
	background-image: url('./images/alibanner.png');
}

.team {
	position: absolute;
	width: 155px;
	height: 38px;
	top: 33px;
}

.score {
	position: absolute;
	width: 40px;
	height: 38px;
	top: 32px;
	font-size: 30px;
	text-align: center;
	color: black;
}

.side {
	font-size: 16px;
	position: absolute;
	width: 50px;
	height: 16px;
	top: 40px;
	text-align: center;
}

#leftScore {
	left: 199px;
	display: none;
}
#rightScore {
	right: 196px;
	display: none;
}

.teamText {
	font-family: 'Muro';

	padding-top: 5px;
}

#leftText {
	padding-left: 5px;
}

#rightText {
	padding-right: 5px;
}

#rightTeam {
	text-align: right;
	right: 245px;
}

#leftTeam {
	left: 245px;
}
